<ion-footer class="main-footer">
  <ion-col class="foot-col">
    <ion-item class="foot-item">
      <ion-label class="foot-label">
        Made by <a href="http://alecv.netlify.app">Aleksandar Butulija</a>
      </ion-label>
    </ion-item>
    <ion-item class="foot-item">
      <ion-label class="foot-label">
        Logo image by <a href="https://www.freepik.com/free-vector/set-gradient-m-logo-templates_13454686.htm#query=letter%20m%20logo&position=27&from_view=keyword&track=ais">Freepik</a>
      </ion-label>
    </ion-item>
  </ion-col>
</ion-footer>
