<ion-menu content-id="main-cont">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Content
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label>
          <a class="nav-link" href="/home">Home</a>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <a class="nav-link" href="/notes">Notes</a>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <a class="nav-link" href="/account/login">Account</a>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <a class="nav-link">About</a>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
