<app-navbar></app-navbar>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img alt="logo" slot="start" class="img-logo" src="./assets/icon/mem_logo.png"></ion-img>
    <ion-title class="nav-title">Notes</ion-title>
    <ion-menu-button slot="end" auto-hide="false" class="menu-btn"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<!--<ion-header collapse="condense">-->
<!--  <ion-toolbar>-->
<!--    <ion-title size="large">notes</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-content [fullscreen]="true" id="main-cont">

</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="">
      <ion-icon src="./assets/icon/list-outline.svg"></ion-icon>
      My Notes
    </ion-tab-button>
    <ion-tab-button tab="new">
      <ion-icon src="./assets/icon/document-outline.svg"></ion-icon>
      New Note
    </ion-tab-button>
    <ion-tab-button href="/account">
      <ion-icon src="./assets/icon/person-outline.svg"></ion-icon>
      Account
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
