<app-navbar></app-navbar>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img alt="logo" slot="start" class="img-logo" src="./assets/icon/mem_logo.png"></ion-img>
    <ion-title class="nav-title">
      Memorist
    </ion-title>
    <ion-menu-button slot="end" auto-hide="false" class="menu-btn"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-cont">
  <ion-grid class="home-main-grid">
    <ion-col class="ion-align-items-center">
      <ion-title>
        <h1>Tired of forgetting?</h1>
      </ion-title>
      <ion-row>
        <p class="use-the">Use the</p>
        <ion-button href="/notes">Memorist Notes</ion-button>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
<app-footer></app-footer>
